<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <meta name="robots" content="<%= robots %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
      :root {
        color-scheme: dark;
      }

      * {
        margin: 0;
        padding: 0;
        border: none;
      }

      body {
        background-color: #000000;
        text-align: center;
        font-family: sans-serif;
        font-size: 13px;
        color: #ffffff;
      }

      #wrapper {
        max-width: 600px;
        width: 600px;
        margin: 0 auto;
        text-align: left;
      }

      body#center {
        text-align: -webkit-center;
      }

      body#center #wrapper {
        margin: 0 20px;
      }

      body#left {
        text-align: -webkit-left;
      }

      body#left #wrapper {
        margin: 0 20px;
      }

      body#right {
        text-align: -webkit-right;
      }

      body#right #wrapper {
        margin: 0 20px;
      }

      h1 {
        font-size: 21px;
        padding: 0 10px;
        margin: 20px 0 0;
        font-weight: bold;
      }

      h2 {
        font-size: 14px;
        padding: 0 10px;
        margin: 10px 0 0;
        color: #666666;
        font-weight: normal;
      }

      a {
        color: #ffcc66;
        text-decoration: none;
      }

      a:hover {
        color: #ff9933;
        text-decoration: underline;
      }

      ul#header {	
        margin-top: 20px;
      }

      ul li {
        display: block;
        list-style-type: none;
        overflow: hidden;
        padding: 10px;
      }

      ul li:hover {
        background-color: #0c0c0c;
      }

      ul li .date {
        text-align: center;
        width: 120px;
      }

      ul li .size {
        text-align: right;
        width: 90px;
      }

      ul li .date, ul li .size {
        float: right;
        font-size: 12px;
        display: block;
        color: #999999;
      }

      ul#header li {
        font-size: 11px;
        font-weight: bold;
        border-bottom: 1px solid #333333;
      }

      ul#header li:hover {
        background-color: transparent;
      }

      ul#header li * {
        color: #ffffff;
        font-size: 11px;
      }

      ul#header li a:hover {
        color: #999999;
      }

      ul#header li .asc span, ul#header li .desc span {
        padding-right: 15px;
        background-position: right center;
        background-repeat: no-repeat;
      }

      ul#header li .asc span {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='7px' height='7px' viewBox='0 0 140 140'%3E%3Cpath d='M0 0 C6.6 0 13.2 0 20 0 C20 6.6 20 13.2 20 20 C26.6 20 33.2 20 40 20 C40 26.6 40 33.2 40 40 C46.6 40 53.2 40 60 40 C60 46.6 60 53.2 60 60 C27 60 -6 60 -40 60 C-40 53.4 -40 46.8 -40 40 C-33.4 40 -26.8 40 -20 40 C-20 33.4 -20 26.8 -20 20 C-13.4 20 -6.8 20 0 20 C0 13.4 0 6.8 0 0 Z ' fill='%23FFFFFF' transform='translate(60,40)'/%3E%3C/svg%3E%0A");
      }

      ul#header li .desc span {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='7px' height='7px' viewBox='0 0 140 140'%3E%3Cpath d='M0 0 C33 0 66 0 100 0 C100 6.6 100 13.2 100 20 C93.4 20 86.8 20 80 20 C80 26.6 80 33.2 80 40 C73.4 40 66.8 40 60 40 C60 46.6 60 53.2 60 60 C53.4 60 46.8 60 40 60 C40 53.4 40 46.8 40 40 C33.4 40 26.8 40 20 40 C20 33.4 20 26.8 20 20 C13.4 20 6.8 20 0 20 C0 13.4 0 6.8 0 0 Z ' fill='%23FFFFFF' transform='translate(20,40)'/%3E%3C/svg%3E%0A");
      }

      ul li.file {
        border-top: 1px solid #0c0c0c;
      }

      ul li.file:first-child {
        border-top: none;
      }

      ul li.file .name {
        font-weight: bold;
      }

      ul li.file .directory, ul li.file .file {
        padding-left: 20px;
        background-position: left center;
        background-repeat: no-repeat;
      }

      ul li.file .directory {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' viewBox='0 0 200 200'%3E%3Cpath d='M0,0 L20,0 L20,100 L40,100 L40,40 L180,40 L180,20 L200,20 L200,140 L180,140 L180,160 L20,160 L20,140 L0,140 Z M60,60 L60,120 L40,120 L40,140 L160,140 L160,100 L180,100 L180,60 Z ' fill='%237F7F7F' transform='translate(0,40)'/%3E%3Cpath d='M0,0 L20,0 L20,120 L0,120 L0,140 L-160,140 L-160,120 L-20,120 L-20,80 L0,80 Z ' fill='%23FFFFFF' transform='translate(180,60)'/%3E%3Cpath d='M0,0 L140,0 L140,20 L0,20 Z ' fill='%23FFFFFF' transform='translate(20,180)'/%3E%3Cpath d='M0,0 L20,0 L20,140 L0,140 Z ' fill='%23FFFFFF' transform='translate(0,40)'/%3E%3Cpath d='M0,0 L100,0 L100,40 L80,40 L80,20 L20,20 L20,40 L0,40 Z ' fill='%23FFFFFF' transform='translate(20,0)'/%3E%3Cpath d='M0,0 L20,0 L20,20 L40,20 L40,40 L20,40 L20,60 L0,60 Z ' fill='%234C4C4C' transform='translate(160,140)'/%3E%3Cpath d='M0,0 L20,0 L20,40 L0,40 L0,60 L-20,60 L-20,20 L0,20 Z ' fill='%234C4C4C' transform='translate(40,120)'/%3E%3Cpath d='M0,0 L60,0 L60,20 L0,20 Z ' fill='%23FFFFFF' transform='translate(120,40)'/%3E%3Cpath d='M0,0 L20,0 L20,40 L0,40 Z ' fill='%237F7F7F' transform='translate(100,0)'/%3E%3Cpath d='M0,0 L20,0 L20,40 L0,40 Z ' fill='%237F7F7F' transform='translate(20,0)'/%3E%3Cpath d='M0,0 L20,0 L20,20 L0,20 Z ' fill='%237F7F7F' transform='translate(20,160)'/%3E%3Cpath d='M0,0 L20,0 L20,20 L0,20 Z ' fill='%237F7F7F' transform='translate(40,100)'/%3E%3Cpath d='M0,0 L20,0 L20,20 L0,20 Z ' fill='%234C4C4C' transform='translate(40,80)'/%3E%3C/svg%3E%0A");
      }

      ul li.file .file {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' viewBox='0 0 200 200'%3E%3Cpath d='M0 0 C33 0 66 0 100 0 C100 6.6 100 13.2 100 20 C93.4 20 86.8 20 80 20 C80 39.8 80 59.6 80 80 C99.8 80 119.6 80 140 80 C140 73.4 140 66.8 140 60 C146.6 60 153.2 60 160 60 C160 106.2 160 152.4 160 200 C107.2 200 54.4 200 0 200 C0 134 0 68 0 0 Z M20 20 C20 72.8 20 125.6 20 180 C59.6 180 99.2 180 140 180 C140 153.6 140 127.2 140 100 C113.6 100 87.2 100 60 100 C60 73.6 60 47.2 60 20 C46.8 20 33.6 20 20 20 Z ' fill='%23FFFFFF' transform='translate(20,0)'/%3E%3Cpath d='M0 0 C6.6 0 13.2 0 20 0 C20 19.8 20 39.6 20 60 C39.8 60 59.6 60 80 60 C80 53.4 80 46.8 80 40 C86.6 40 93.2 40 100 40 C100 86.2 100 132.4 100 180 C93.4 180 86.8 180 80 180 C80 147 80 114 80 80 C53.6 80 27.2 80 0 80 C0 53.6 0 27.2 0 0 Z ' fill='%23FFFFFF' transform='translate(80,20)'/%3E%3Cpath d='M0 0 C6.6 0 13.2 0 20 0 C20 19.8 20 39.6 20 60 C39.8 60 59.6 60 80 60 C80 66.6 80 73.2 80 80 C53.6 80 27.2 80 0 80 C0 53.6 0 27.2 0 0 Z ' fill='%235C5C5C' transform='translate(80,20)'/%3E%3Cpath d='M0 0 C39.6 0 79.2 0 120 0 C120 6.6 120 13.2 120 20 C80.4 20 40.8 20 0 20 C0 13.4 0 6.8 0 0 Z ' fill='%23FFFFFF' transform='translate(40,180)'/%3E%3Cpath d='M0 0 C33 0 66 0 100 0 C100 6.6 100 13.2 100 20 C67 20 34 20 0 20 C0 13.4 0 6.8 0 0 Z ' fill='%23FFFFFF' transform='translate(20,0)'/%3E%3Cpath d='M0 0 C6.6 0 13.2 0 20 0 C20 6.6 20 13.2 20 20 C13.4 20 6.8 20 0 20 C0 13.4 0 6.8 0 0 Z ' fill='%23383838' transform='translate(160,180)'/%3E%3Cpath d='M0 0 C6.6 0 13.2 0 20 0 C20 6.6 20 13.2 20 20 C13.4 20 6.8 20 0 20 C0 13.4 0 6.8 0 0 Z ' fill='%23383838' transform='translate(20,180)'/%3E%3Cpath d='M0 0 C6.6 0 13.2 0 20 0 C20 6.6 20 13.2 20 20 C13.4 20 6.8 20 0 20 C0 13.4 0 6.8 0 0 Z ' fill='%23FFFFFF' transform='translate(140,40)'/%3E%3Cpath d='M0 0 C6.6 0 13.2 0 20 0 C20 6.6 20 13.2 20 20 C13.4 20 6.8 20 0 20 C0 13.4 0 6.8 0 0 Z ' fill='%23FFFFFF' transform='translate(120,20)'/%3E%3Cpath d='M0 0 C6.6 0 13.2 0 20 0 C20 6.6 20 13.2 20 20 C13.4 20 6.8 20 0 20 C0 13.4 0 6.8 0 0 Z ' fill='%23383838' transform='translate(20,0)'/%3E%3C/svg%3E%0A");
      }

      #footer {
        color: #333333;
        font-size: 11px;
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 0 10px;
        text-align: left;
      }

      #footer a {
        color: #333333;
        font-weight: bold;
      }

      #footer a:hover {
        color: #666666;
      }
    </style>
  </head>
  <body id="<%= alignment %>">
    <div id="wrapper">
      <% if (breadcrumbs) { %>
      <h1><%= title.replace(hrefPath, '') %> <% for (let index = 0; index < pathParts.length; index++) { %>/<a href="<%= '/' + hrefParts[index] %>"><%= pathParts[index] %></a><% } %></h1>
      <% } else { %>
      <h1><%= title %></h1>
      <% } %>
      <h2><%= subtitle %></h2>

      <ul id="header">
        <li>
          <a class="size <%= sort == 'size' ? (reverseSort ? 'asc' : 'desc') : '' %>" href="?s=size<%= !reverseSort && sort == 'size' ? '&r=1' : '' %>"><span>Size</span></a>
          <a class="date <%= sort == 'date' ? (reverseSort ? 'asc' : 'desc') : '' %>" href="?s=date<%= !reverseSort && sort == 'date' ? '&r=1' : '' %>"><span>Last modified</span></a>
          <a class="name <%= sort == 'name' ? (reverseSort ? 'asc' : 'desc') : '' %>" href="?s=name<%= !reverseSort && sort == 'name' ? '&r=1' : '' %>"><span>Name</span></a>
        </li>
      </ul>
      <ul>
        <% files.forEach(file => { %>
        <li class="file">
          <span class="size"><%= file.size %></span>
          <span class="date"><%= file.date %></span>
          <a class="name <%= showIcons ? (file.isDir ? 'directory' : 'file') : '' %>" href="<%= file.url %>"><%= file.name + (file.isDir ? ' /' : '') %></a>
        </li>
        <% }) %>
      </ul>
      <% if (showFooter) { %>
      <p id="footer">Powered by <a href="https://github.com/lorenzos/Minixed" target="_blank">Minixed</a>, a PHP directory indexer<br>Ported to Express by <a href="https://github.com/AlexR32" target="_blank">AlexR32</a></p>
      <% } %>
    </div>
  </body>
</html>
